.cmp__navmenu {
    border-bottom: 1px solid #dadada;

    > div:nth-of-type(1) {
        padding: 15px 40px;
    }

    &.fixed {
        position: fixed;
        z-index: 10;
        background-color: $colours-background;
        width: 100%;
        display: block;
    }

    // In case headline is used over a logotype
    .cmp__navmenu-logo h2 {
        margin: 0px 0px 10px 0px;
    }

    nav a {
        color: $colours-dark;
        font-weight: initial;
        text-transform: uppercase;
        padding-right: 18px;

        &:hover {
            color: $colours-primary;
        }
    }

    @media (max-width: $device-tablet) {
        height: 65px;

        nav {
            display: none;
        }

        .cmp__navmenu-mobile {
            position: absolute;
            top: 30px;
            right: 30px;

            i {
                position: absolute;
                height: 2px;
                width: 20px;
                top: 50%;
                margin-top: -1px;
                left: 50%;
                margin-left: -10px;
                @include prefix(transition, all .3s ease-in-out);
                background-color: #000000;

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #000000;

                    @include prefix(transform, translateY(-6px));
                    @include prefix(backface-visibility, hidden);
                    @include prefix(transition, all .3s ease-in-out);
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #000000;

                    @include prefix(transform, translateY(6px));
                    @include prefix(backface-visibility, hidden);
                    @include prefix(transition, all .3s ease-in-out);
                }
            }
        }
    }
}