.layout-main {
    // Layout limit applies only if value is set
    @if $layout-limit {
        max-width: $layout-limit;
    }
    display: block;
    margin: 0 auto;
}

.grid {
    display: flex;

    > * {
        width: 100%;
    }

    // Flex attributes
    &.wrap {
        flex-wrap: wrap;
    }
    &.end {
        justify-content: flex-end;
    }
    &.center {
        justify-content: center;
    }
    &.space {
        justify-content: space-between;
    }

    // Responsiveness
    &.responsive {

        // Using @mixin for an extendable inheritance
        @mixin responsive-flex {
            flex-wrap: wrap;
            > * {
                width: 100%;
            }
        }

        &.mobile {
            @media (max-width: $device-mobile) {
                @include responsive-flex;
            }
        }
        &.tablet {
            @media (max-width: $device-tablet) {
                @include responsive-flex;
            }
        }
        &.small {
            @media (max-width: $device-small) {
                @include responsive-flex;
            }
        }
        &.laptop {
            @media (max-width: $device-laptop) {
                @include responsive-flex;
            }
        }

    }
}