// MARGINS
$margin-amount: 20;
@mixin margin-generator {
    @for $i from 1 through $margin-amount {
        .m-g-#{$i*5} {
            margin: ($i*5)+px;
        }
        .m-t-#{$i*5} {
            margin-top: ($i*5)+px;
        }
        .m-b-#{$i*5} {
            margin-bottom: ($i*5)+px;
        }
        .m-r-#{$i*5} {
            margin-right: ($i*5)+px;
        }
        .m-l-#{$i*5} {
            margin-left: ($i*5)+px;
        }
    }
}

@include margin-generator;

// PADDINGS
$padding-amount: 20;
@mixin padding-generator {
    @for $i from 1 through $padding-amount {
        .p-g-#{$i*5} {
            padding: ($i*5)+px;
        }
        .p-t-#{$i*5} {
            padding-top: ($i*5)+px;
        }
        .p-b-#{$i*5} {
            padding-bottom: ($i*5)+px;
        }
        .p-r-#{$i*5} {
            padding-right: ($i*5)+px;
        }
        .p-l-#{$i*5} {
            padding-left: ($i*5)+px;
        }
    }
}

@include padding-generator;

// SIZES
$size-amount: 10;
@mixin size-generator {
    @for $i from 1 through $size-amount {
        .w-#{$i*10} {
            width: ($i*10)+%;
        }
    }
}

@include size-generator;