body {
    font-family: $typography-main;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    display: block;
    font-weight: initial;
}

h1, .h1 {
    font-size: 2rem;
    margin: 1em 0;
}

h2, .h2 {
    font-size: 1.5rem;
    margin: 1em 0;
}

h3, .h3 {
    font-size: 1.17rem;
    margin: 1em 0;
}

h4, .h4 {
    font-size: 1rem;
    margin: 1em 0;
}

h5, .h5 {
    font-size: 0.83rem;
    margin: 1em 0;
}