// Layout
$layout-limit: 1280px;

// Typography
$typography-main: 'Open Sans', sans-serif;
$typography-headlines-margin: 1em 0;
$typography-headlines-weight: bold;

// Breakpoints
$device-mobile: 480px;
$device-small-tablet: 600px;
$device-tablet: 736px;
$device-small: 980px;
$device-laptop: 1280px;
$device-large: 1690px;

// Colours
$colours-primary: #009bff;
$colours-secondary: #cfb584;
$colours-dark: #373d42;
$colours-white: #ffffff;
$colours-background: $colours-white;
