// Layout
$layout-limit: 1280px;

// Typography
$typography-main: 'Open Sans', sans-serif;
$typography-headlines-margin: 10px 0px;

// Breakpoints
$device-mobile: 480px;
$device-tablet: 736px;
$device-small: 980px;
$device-laptop: 1280px;
$device-large: 1690px;